.main{
    display: flex;
    width: 100%;
}

.imagePlayer {
    flex : 1
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
}

.main p{
    margin: 0;
    padding: 0;
}